<!-- Listing 9.34 -->

<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- Listing 9.41 -->
<%= will_paginate %>


<!-- Listing 9.46 thru 9.48 -->
<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
