<!-- 11.39 - Error messages that work with other objects. -->
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<!-- Listing 7.3.3 - Signup error messages - PLEASE SEE NOTES.txt file  -->
